main {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.hero {
  height: 100vh;
  width: 100vw;
  background-color: #21D4FD;
  background-image: url('assets/landing_bg.jpg');
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
}

.heroContent {
  margin-left: 20%;
  max-width: 700px;
}

.logo {
  max-height: 140px;
  filter: invert(100%);
  margin-bottom: 24px;
}

.hey {
  font-size: 24px;
  margin-bottom: 12px;
}

.title {
  font-size: 64px;
  margin-bottom: 24px;
}

.subTitle {
  margin-bottom: 12px;
}

.slider {
	scroll-snap-type: x mandatory;	
  /* scroll-snap-points-y: repeat(100vw); */
	display: flex;
	-webkit-overflow-scrolling: touch;
	overflow-x: scroll;
	overflow-y: hidden;
  width: 100vw;
  pointer-events: none;
}

.slide {
  border-right: 1px solid white;
	padding: 1rem;
	min-width: 100vw;
	height: 100vh;
	scroll-snap-align: start;
	position: relative;
  scroll-snap-stop: always;
}

.slideContent {
  max-width: 50%;
  margin: 120px auto;
}

.label {
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
}

.nameInput {
  height: 48px;
  min-width: 320px;
  border-radius: 8px;
  padding: 12px;
  border: none;
  margin: 6px 0 12px 0;
  background-color: rgba(255, 255, 255, 0.7);
}

.start {
  height: 48px;
  min-width: 180px;
  border-radius: 8px;
  display: inline-block;
  background-color: #21D4FD;
  background-image: linear-gradient(90deg, #21D4FD 0%, #B721FF 100%);
  margin-top: 32px;
  text-align: center;
  line-height: 48px;
}

.next, .prev {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  z-index: 999;
  opacity: 0.5;
  background: #fff;
  color: #000;

  &:hover {
    opacity: 0.8;
  }
}

.next {
  right: 24px
}

.prev {
  left: 24px
}

.question {
  margin-bottom: 32px;
  font-size: 72px;
  font-weight: bolder;
}

.option {
  display: block;
  margin: 24px 0;
  font-size: 24px;
  font-weight: bold;

  input {
    margin-right: 12px;
  }
}

.link {
  display: block;
  font-size: 24px;
}

.radio {
  height: 18px;
  width: 18px;
}

.conclusion {
  .emoji {
    font-size: 150px;
    line-height: 150px;
    margin-bottom: 24px;
    font-weight: bold;
  }

  .message {
    font-weight: 300;
  }
}

